*.aux
*TSWLatexianTemp*
*.log
*.synctex.gz
*.DS_Store
*.aux
*TSWLatexianTemp*
*.log
*.synctex
*.DS_Store
Backend/.nb-gradle/*
Backend/models/build/*
Backend/controllers/build/*
Backend/build/*
Backend/persistence/build/*
Backend/.gradle/*
*.jar
*.classpath
*.project
*.settings/
*.settings
*/bin/*
*/bin
Backend/*/bin/
Backend/.classpath
Backend/.project
Backend/.settings
