<div class="center">
    <div class="content-container">
        <div class="panel panel-default">
            <div class="panel-body">
                You are not subscribed to the course <strong>{{course.name}}</strong>.<br/>
                Would you like to subscribe now?<br/>
                <button ng-click="subscribe()" type="button" 
                        class="btn btn-default btn-sm"><strong>Subscribe</strong></button>
                <a ui-sref="stateCourses()" 
                        class="btn btn-default btn-sm">Cancel</a>
            </div>
        </div>
    </div>
</div>


